@import "variables";
@import "default";
@import "mixin";

.header {
    &__topBar {
        color: $gray;
        background-color: $bgBlue;

        a {
            color: $gray;
        }
    }

    &__topBarContainer {
        display: flex;
        justify-content: space-between;
    }

    &__nav {
        .nav__item {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    &__menuAction {
        display: flex;
    }

    &__auth {
        margin-right: 30px;
    }

    &__mainContentWrapper {}

    &__mainContent {
        padding-top: 35px;
        padding-bottom: 35px;
        display: flex;
    }

    &__logoHolder {
        margin-right: 6%;

        .logo__pic {
            margin-bottom: 14px;
        }
    }

    &__contacts {
        display: flex;
        max-width: 45%;
    }

    &__contactsColumn {
        padding-top: 5px;
        padding-right: 30px;
    }

    &__contactItem {
        &:first-child {
            margin-bottom: 20px;
        }
    }

    &__contactSubject {
        font-family: 'Proxima Nova Lt';
        font-size: 1rem;
        color: $black;
        font-weight: 600;
        margin-bottom: 3px;

        a {
            color: $black !important;
            text-decoration: none !important;
        }
    }

    &__contactSubject,
    &__contactText {
        display: block;
    }

    &__contactText {
        color: $secondary;
    }

    &__feedback {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 2.64%;


        .feedback__item:first-child {
            margin-top: 25px;
        }

    }

    &__shopping {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__shoppingFunctions {
        display: flex;
        padding-left: 7px;

        .shoppingFunctions__item {
            &:first-child {
                margin-right: 25px;
            }
        }
    }
}

.nav {
    &__list {
        display: flex;
        padding: 16px 0px;
    }

    &__item {}
}

.dropdown {
    cursor: pointer;
    white-space: nowrap;

    &__subject {
        margin-right: 12px;
    }

    &__subject,
    &__icon {
        display: inline-block;
        user-select: none;
    }

    &__icon {
        font-size: 0;
    }
}

.auth {
    display: flex;
    align-items: center;

    &__item {
        &_sigIn {
            .auth__icon,
            .auth__text {
                vertical-align: middle;
            }

            margin-right: 30px;
        }

        &_sigUp {}
    }

    &__itemInner {
        white-space: nowrap;
    }

    &__icon,
    &__text {
        display: inline-block;
    }

    &__icon {
        margin-right: 5px;
        font-size: 0;
    }

    &__text {}

    a {
        display: block;
        text-decoration: none !important;
    }
}

.search {
    background-color: #274f64;
    display: flex;

    &__field {
        input {
            border: 0;
            color: $gray;
            height: 100%;
            padding: 16px 0px 16px 20px;
            background: transparent;
            max-width: 155px;
            
            &::placeholder {
                color: $gray;
            }
        }
    }

    &__icon {
        font-size: 0;
        width: 55px;
        position: relative;
        cursor: pointer;

        .searchIcon {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.logo {
    display: inline-block;
    text-align: center;
    color: $blue;
    user-select: none;

    &__pic {
        max-width: 76px;
        display: inline-block;

        &_large {
            max-width: 104px;
        }
    }

    &__text {
        font-size: 0.8125rem‬;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        white-space: nowrap;
    }

    a {
        text-decoration: none !important;
        color: $blue !important;
    }
}

.feedback,
.shoppingFunctions {
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    color: $blue;

    a {
        display: block;
        color: $blue;
        text-decoration: none;
        
        &:hover {
            color: $blue;
            text-decoration: none;
        }
        
    }
}

.feedback {

    &__item {}

    &__itemInner{}
      
    &__icon {}

    &__text {
        &_underline {
            border-bottom: 1px solid #c7d8de;
        }
    }
}

.shoppingFunctions__item,
.feedback__item {
    white-space: nowrap;
}

.shoppingFunctions__icon,
.feedback__icon {
    font-size: 0;
    margin-right: 10px;
}

.shoppingFunctions__itemInner,
.shoppingFunctions__icon,
.shoppingFunctions__text,
.feedback__itemInner,
.feedback__icon,
.feedback__text {
    display: inline-block;
}

.shoppingFunctions__icon,
.shoppingFunctions__text,
.feedback__icon,
.feedback__text {
    vertical-align: middle;
}

.shoppingCart {

    &>a {
        display: block;
        text-decoration: none !important;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-right: 25px;
        position: relative;
    }

    &__goodsCounter {
        font-family: 'Proxima Nova Th', sans-serif;
        font-weight: 800;
        line-height: 20px;
        width: 20px; 
        height: 20px;
        color: #ffffff;
        position: absolute;
        top: 0; right: -10px;
        border-radius: 50%;
        background-color: #70afce;
        text-align: center;
        user-select: none;
    }

    &__info,
    &__designation {
        display: block;
    }
    
    &__info {
    }
    
    
    &__designation {
        font-size: 1rem;
        font-family: 'Proxima Nova Lt';
        font-weight: 600;
        color: $black;
        margin-bottom: 5px;
    }

    &__productInfo {
        color: $secondary;
    }
}

.shoppingFunctions {
    &__item {}

    &__itemInner {}

    &__icon {}

    &__text {}
}


.navBar {
    font-family: 'Proxima Nova Lt', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: $black;
    background-color: #F0F0F0;

    &__inner {
        display: flex;
    }

    a {
        color: $black !important;
        text-decoration: none !important;
        display: inline-block;
    }
}

.catalogueMenu {
    display: inline-block;

    &__inner {
        white-space: nowrap;
        padding: 25px 30px;
    }
    
    &__icon,
    &__title {
        display: inline-block;
        vertical-align: middle;
    }
    
    &__icon {
        margin-right: 10px;
    }
    
    &__title {}
}

.categories {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;

    &__item {
        display: flex;
        align-items: center;
        align-self: stretch;

        &:first-child {
            .categories__title {
                padding-left: 30px;
            }
        }

        &:last-child {
            .categories__title {
                padding-right: 0px;
            }
        }

        a {
            display: flex;
            align-items: center;
            height: 100%;
        }
    }

    .categories__title {
        display: inline-block;
        padding: 0px 20px;
    }
}

.postScreen {
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    
    &__inner {
        height: 550px;
        display: flex;
        flex-direction: column;
    }

    &__breadcrumb {
        padding-top: 35px;
    }

    &__content {
        max-width: 800px;
        margin-top: auto;
    }

    &__labelHolder {
        margin-bottom: 20px;
    }

    &__title {
        color: #ffffff;
    }

    &__metainfo{
        padding-bottom: 45px;
    }
}

.postLabel {
    padding: 5px 9px;
    border-radius: 3px;
    background-color: $green;
}

.metainfo {

    &__item {
        white-space: nowrap;

        &:first-child {
            margin-right: 15px;
        }
    }

    &__icon {
        font-size: 0;
        margin-right: 6px;
    }

    &__text {}

    &__item,
    &__icon,
    &__text {
        display: inline-block;
    }

    &__icon,
    &__text {
        vertical-align: middle;
    }
}

.footer {
    color: $gray;
    background-color: $bgBlue;

    a {
        color: $gray;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 60px 0px;
    }

    &__feedbackColumn {
        flex-basis: 15%;
        margin-right: 9%;
    }

    &__logoHolder {
        margin-bottom: 25px;
    }

    &__contacts {
        margin-bottom: 25px;
    }

    &__contactItem {
        &:first-child {
            margin-bottom: 17px;
        }
    }

    &__contactSubject {
        color: #ffffff;
        font-size: 1.25rem;
        margin-bottom: 5px;

        a {
            color: #ffffff;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__contactText {}

    &__contactSubject,
    &__contactText {
        display: block;
    }

    &__govBuy {
        margin-bottom: 30px;
    }

    &__listTitle,
    &__email {
        font-size: 1.125rem;
        font-weight: bold;
        color: #ffffff;

        a {
            color: #ffffff;
            display: inline-block;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__listItem {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__catalogueColumn {
        flex-basis: 56%;
    }

    &__catalogue {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: -75px;
    }

    &__category {
        padding-right: 85px;
        margin-bottom: 75px;
        flex-basis: 50%;
    }

    &__categoryTitle {}

    &__categoryList {}

    &__categoryItem {}

    &__dualListContainer {
        display: flex;

        .footer__categoryList {
            flex-basis: 40%;
            
            &:first-child {
                flex-basis: 60%;
                padding-right: 25px;
            }
        }
    }

    &__serviceColumn {
        flex-basis: 20%;
    }

    &__service {
        margin-bottom: 40px;
    }

    &__email {
        margin-bottom: 35px;
    }

    &__paymentContainer {}

    &__paymentText {
        margin-bottom: 25px;
    }

    &__payment {}

    &__paymentText,
    &__paymentItem {
        display: inline-block;
    }

    &__paymentItem {
        vertical-align: middle;

        &:not(:last-child) {
            margin-right: 10px;
        }

        a {
            text-decoration: none !important;
            display: inline-block;
        }
    }
}

.govBuy {
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    background-color: #3c515f;
    border-radius: 25px;
    width: 165px;
    
    a {
        color: #ffffff !important;
        text-decoration: none !important;
        display: block;
        width: 100%;
    }

    a,
    &__inner,
    &__pic,
    &__text {
        display: inline-block;
    }

    &__inner {
        padding: 5px 8px;
    }
    
    &__pic {
        width: 40px;
        margin-right: 10px;
    }

    &__pic,
    &__text {
        vertical-align: middle;
    }
}